<ui-pattern>

  <div class="w-full">
    <ui-dropdown>
      <span dropdown-button>menu</span>
      <ng-container  ngProjectAs="dropdown-content">
        <a class="py-2 px-4 bg-transparent">
          Action </a>
        <a class="py-2 px-4 bg-transparent">
          Another action </a>
      </ng-container>
    </ui-dropdown>

  </div>

  <div class="w-full">
    <ui-input label="input" placeholder="holder" [formControl]="ctrl"></ui-input>
    <ui-input label="input" placeholder="holder" [formControl]="ctrl"></ui-input>
    {{'val: ' + ctrl.value}}

    <form [formGroup]="ctrlgrp">
      <ui-input label="input" placeholder="holder" formControlName="inp1"></ui-input>
      {{ctrlgrp.getRawValue() | json}}
      {{ctrlgrp.get('inp1').errors | json}}
    </form>
  </div>

  <div class="w-full flex space-x-4">
    <ui-button class="my-2" [options]="options">Button text</ui-button>

    <div>
      <select [ngModel]="options.color" (ngModelChange)="setClr($event)">
        <option *ngFor="let clr of colors" [value]="clr">{{clr}}</option>
      </select>
      <select [ngModel]="options.type" (ngModelChange)="setTy($event)">
        <option *ngFor="let ty of type" [value]="ty">{{ty}}</option>
      </select>
    </div>

    <ui-button class="my-2"
               [loading]="btnLoading"
               (uiClick)="loadStuff()"
    >Button text
    </ui-button>

  </div>

  <div class="p-6 flex flex-row space-x-4 w-1/2">
    <ui-card class="flex">
      <ui-card-header [avatar]="imgSrc">
        <ui-card-title>Title here</ui-card-title>
        <ui-card-subtitle>subtitle here</ui-card-subtitle>
      </ui-card-header>
      <img uiCardImage [src]="imgSrc" alt="image">
      <ui-card-body>
        <p>{{loremText}}</p>
      </ui-card-body>
      <ui-card-footer>
        <ui-button [options]="options">LIKE</ui-button>
        <ui-button [options]="options">DISLIKE</ui-button>
      </ui-card-footer>
    </ui-card>
    <ui-card class="flex">
      <ui-card-header [avatar]="imgSrc">
        <ui-card-title>Title here</ui-card-title>
        <ui-card-subtitle>subtitle here</ui-card-subtitle>
      </ui-card-header>
      <img uiCardImage [src]="imgSrc" alt="image">
      <ui-card-body>
        <p>{{loremText}}</p>
      </ui-card-body>
      <ui-card-footer>
        <ui-button [options]="options">LIKE</ui-button>
        <ui-button [options]="options">DISLIKE</ui-button>
      </ui-card-footer>
    </ui-card>
  </div>


</ui-pattern>
