<div
  class='h-20 w-full p-2
          bg-primary dark:bg-primary-dark
          text-center text-text-light dark:text-text-dark flex flex-row'>

  <a class='flex flex-grow-0 flex-shrink-0 w-16 ' [routerLink]='["/"]'>
    <svg-icon key='slogo' fontSize='3.5rem'
              class='flex m-auto text-center transition-all duration-300 ease-in-out
              transform dark:filter-invert dark:hover:filter-none hover:filter-invert hover:scale-125'
    ></svg-icon>
  </a>

  <span class='flex flex-grow'></span>

  <ui-button class='my-auto mx-2 hidden sm:block' [options]="{color: 'plain'}" *ngFor='let route of routes'
             [routerLink]='[route.target]'>{{route.label | uppercase}}</ui-button>

  <span class='flex flex-grow'></span>

  <span class='flex flex-grow-0 flex-shrink-0
                bg-hovered-light dark:bg-hovered-dark
                bg-opacity-0 hover:bg-opacity-20 dark:bg-opacity-0 dark:hover:bg-opacity-20
                w-16 cursor-pointer transition duration-300 ease-in-out rounded-full'
        (click)='toggleSettings()'>
    <svg-icon class='flex m-auto hover:animate-spin' key='settings' fontSize='2rem'></svg-icon>
  </span>

</div>
<div class='container-wrapper'>
  <div class='absolute w-full h-full overflow-y-auto'>
    <div class='mx-0 sm:mx-4 block'>
        <router-outlet></router-outlet>
    </div>
  </div>

  <div class='absolute right-0 w-full sm:w-1/3 h-full bg-opacity-75 dark:bg-opacity-75
        transition-transform duration-300 transform-gpu
        {{settings ? "" : "translate-x-full"}}'>
    <div class='m-0 sm:m-2'>
      <ng-template uiComponentContainer></ng-template>
    </div>
  </div>
</div>



